@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  .hidden{
    display:none;
  }
.active{
  padding: 3% 6%;
  font-weight: bold;
  color:#fff;
  border-bottom: 2px solid #fff;
}
/* nav styles */
.navbar-fixed{
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(113,188,120);
  background: linear-gradient(90deg, rgba(113,188,120,0.7) 0%, rgba(77,93,83,0.7) 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
  padding: 0.5% 2%;
}
.navbar-fixed-up{
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  padding: 2% 5%;
}
.navbar-fixed-up ul{
  margin: 1% 0;
}
.navbar-fixed ul{
  margin: 1% 0;
  cursor: pointer;
}
.navbar-fixed h1{
  margin: 0.8% 2%;
  text-shadow: 1px 1px #000;
}


.title-nav h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
}
.title-nav h3 span{
  font-size: 45px;
}
.neon{
  color: #fff;
}

.navbar-container nav{
  background-image: url(./backgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
.header-nav-styles{
  top:0;
  padding: 0.1px 0.1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
  width: 100%;
}
.header-nav-styles ul li{
  list-style: none;
  display: inline-block;
}

.header-nav-styles ul li a{
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.header-nav-styles h2{
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.title-nav{
  margin: 15% 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  line-height: 70px;
  color: #fff;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.title-nav button {background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%)}
.title-nav button {
  border: none;
   margin: 10px;
   padding: 10px 35px;
   outline: none;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
 }

 .title-nav button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.title-nav p{
  text-align: center;
}
/* end nav styles */

/* start about styles */
.about-title{
  text-align: center;
}
.titles-about-container{
  text-align: center;
  margin: 8%;
}
.titles-about-container p{
  margin: 3% 0;
}
.about-container{
  margin: 5%;
}
.about-images{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  gap: 10px;
}
.inside-image-about{
  font-size: 13px;
  margin: 1%;
  color: rgba(0, 0, 0, 0.7)
}
.about-card{
    position: relative;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
.image-about{
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
}
/* end about titles */

/* start hamburger styles */
.menu-hamburger{
  z-index: 2;
  border: none;
  background: rgba(77, 175, 124, 0.6);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
  padding: 1% 2%;
  position: fixed;
  margin: 0 80%;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
}
.hamburger-flex{
  display: none;
}
.hide-hamburger{
  display: none;
}

.hamburger-nav-styles{
  z-index: 1;
  height: 100vh;
  top: -1%;
  width: 100%;
  position: fixed;
  display: block;
  background-color: rgba(0,0,0,0.8);
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.hide-hamburger{
  display: none;
}
.hamburger-nav-styles ul{
  margin: 25% 0;
  display: grid;
}
.hamburger-nav-styles ul li{
  padding: 5.5%;
  text-align: center;
  list-style: none;
}
.hamburger-nav-styles ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.hamburger-flex h1{
  padding: 1.5%;
  color: #fff;
}
.hamburger-flex{
  display: flex;
  padding: 3% 5%;
  justify-content: space-between;
}
/* end hamburger styles */


/* start services styles */
.services-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-title p{
  width: 700px;
  margin: 2%;
  text-align: center;
}
.services-library{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5% ;
}
.main-services{
  background: #eee;
}
.services-container{
  padding:5% 0;
}
.service-frame{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
  padding: 40px 40px;
  margin: 10px;
  background:#fff;
  cursor: pointer;
}
.service-frame:hover{
  margin-top:-20px;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
/* end services styles */


/* start works styles */
.works-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-title p{
  width: 700px;
  margin: 2%;
  text-align: center;
}
.works-container{
  padding: 5%;
}
.container{
  width: 100%;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
}
.image-card{
  position: relative;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;

}
.image{
  width:100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}
.image-card:hover .image {
  opacity: 0.3;
}
.image-card:hover .middle {
  opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.tags{
  text-align: center;
  padding:4% 0;
}
.tag{
  outline: none;
  border:none;
  margin:0 2%;
  padding:0.6% 3%;
  background:#eee;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
}

.active-button{
  padding:1% 4%;
  font-weight: bold;
  color:#fff;
  background: #5aa469;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
}
/* end works styles */


/* start contacts styles */
.contacts{
  background: #eee;
  padding: 1.5% 1% 7% 1%;
}
.contacts h1{
  padding: 3% 0;
}
.title-contacts{
  display: flex;
  justify-content: center;
}
.contacts-container{
  display: flex;
  justify-content: space-between;
  margin:0 4%;
}
.container-first{
  width: 320px;
  height: 160px;
  background: #5aa469;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
  
}
.contacts-container-first{
  margin: 6% 14%;
  color: #fff;
  font-size: 16px;
}
.phone{
  display: flex;
  justify-content: space-between;
  width: 170px;
  font-weight: bold;
  margin: 5% 0;
}
.phone img{
  width: 30px;
}
.gmail{
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-weight: bold;
  margin: 5% 0;
}
.gmail img{
  width: 30px;
}
.location{
  display: flex;
  justify-content: space-between;
  width: 155px;
  font-weight: bold;
  margin: 5% 0;
}
.location img{
  width: 30px;
}
.container-second{
  background: #222831;
  width: 710px;
  height: 420px;
}
.contact-inputs input{
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  width: 317.5px;
  height: 34px;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;
  margin: 1%;
}
.contact-inputs input, input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 3;
  text-align: left;
  padding: 0 3px;
}
.contact-inputs input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
.contact-inputs input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.subject input{
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  width: 650px;
  height: 34px;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;
  margin: 2% 1%;
}
.subject input, input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 3;
  text-align: left;
  padding: 0 3px;
}
.subject input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
.subject input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.message input{
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  width: 650px;
  height: 150px;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;
  margin: 1%;
}
.message input, input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 3;
  text-align: left;
  padding: 0 3px;
}
.message input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
.message input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.contacts-button button{
  color:#fff;
  font-weight: bold;
  padding: 1.5% 6%;
  background: #5aa469; 
  outline: none;
  border:1px solid #fff;
  box-shadow: rgba(77, 165, 100, 0.5) 0px 1px 3px 1px !important;
  margin: 1%;
}
.inside-container{
  margin: 3%;
}
/* end contacts titles */


/* start footer styles */
.inside-footer{
  display: flex;
  justify-content: space-between;
  width: 95.5%;
  padding: 2%;
  margin: 0 2%;
  background: #222831;
}
.main-footer{
  width: 100%;
  background: #222831;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
}
.footer-title{
  font-weight: bold;
  color: #fff;
  margin: 0 1%;
}
.support-icons{
  display: flex;
  justify-content: space-between;
  width: 150px;
}
/* end footer styles */


/* responsive */
@media only screen and (max-width: 1300px) and (min-width: 1150px) {
  .about-image{
   height: 300px;
  }
  .contacts-container{
   margin: 0 4%;
  }
  .hamburger-flex{
    display: none;
  }
 }
 
 @media only screen and (max-width: 1150px) and (min-width: 1050px) {
  .contact-inputs input{
    width: 270px;
  }
  .container-second{
    width: 600px;
    height: 360px;
  }
  .container-first{
    height: 180px;
  }
  .contacts-button button{
    margin: 3% 1%;
  }
  .subject input{
    width: 551px;
  }
  .message input{
    width: 551px;
  }
  .hamburger-flex{
  display: none;
  }
 }

 @media only screen and (max-width: 1050px) and (min-width: 900px) {
  .contact-inputs input{
    width: 220px;
  }
  .title-nav p{
   width: 500px;
  }
  .title-nav{
    margin: 25%;
  }
  .container-second{
    width: 490px;
    height: 360px;
  }
  .container-first{
    height: 180px;
  }
  .contacts-button button{
    margin: 3% 1%;
  }
  .subject input{
    width: 450px;
  }
  .message input{
    width: 450px;
  }
  .hamburger-flex{
    display: none;
  }
 }

 @media only screen and (max-width: 900px) and (min-width: 680px) {
  .contacts-container{
    margin: 2% 4%;
   }
  .contact-inputs input{
    width: 300px;
  }
  .container-second{
    width: 330px;
    height: 350px;
  }
  .container-first{
    height: 160px;
    width: 280px;
  }
  .contacts-button button{
    margin: 3% 1%;
  }
  .subject input{
    width: 300px;
  }
  .message input{
    width: 300px;
  }
  .title-nav p{
    width: 500px;
    line-height: 50px;
  }
  .title-nav{
    margin: 35%;
  }
  .services-library{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container{
    grid-template-columns: repeat(4, 1fr);
  }
  .header-nav-styles ul{
    margin: 1% 0;
  }
  .works-title p{
    width: 600px;
  }
  .services-title p{
    width: 500px;
  }
  .services-container{
    padding: 3% 0;
  }
  .hamburger-flex{
    display: none;
  }
  }

 @media only screen and (max-width: 680px) and (min-width: 450px) {
   
  .contacts-container{
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
   }
  .contact-inputs input{
    width: 100%;
    
  }
  .contacts{
    font-size: 12px;
  }
  .container-second{
    width: 100%;
    margin: 2% 0;
    height: 400px;

  }
  .container-first{
    height: 200px;
    width: 100%;
    margin: 2% 0;
  }
  .contacts-button button{
    margin: 3% 1%;
  }
  .subject input{
    width: 100%;
    padding: 1%;
  }
  .message input{
    width: 100%;
    padding: 1%;
  }
  .title-nav p{
    width: 300px;
    line-height: 50px;
    text-align: center;
  }
  .services-library{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container{
    grid-template-columns: 1fr;
  }
  .services-title p{
    width: 300px;
    text-align: center;
  }
  .services-title{
    font-size: 12px;
  }
  .header-nav-styles ul{
    margin: 1% 0;
  }
  .works-title p{
    width: 300px;
    text-align: center;
  }
  .works-title{
    font-size: 12px;
  }
  .header-nav-styles{
    display: none;
  }

  .title-nav h3 span{
    font-size: 25px;
  }
  .title-nav p{
    font-size: 15px;
    text-align: center;
  }

 .about-images{
  grid-template-columns: 2fr;
 }
 }


 @media only screen and (max-width: 450px) and (min-width: 310px) {
  .contacts-container{
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
  }
  .contacts-container-first{
    font-size: 12px;
  }
  .phone img{
    width: 20px;
  }
  .gmail img{
    width: 20px;
  }
  .gmail{
    width: 190px;
  }
  .location img{
    width: 20px;
  }
  .contact-inputs input{
    width: 100%;
    height: 25px;
  }
  .contacts{
    font-size: 10px;
  }
  .container-second{
    width: 100%;
    margin: 2% 0;
    height: auto;

  }
  .container-first{
    height: 20%;
    width: 100%;
    margin: 2% 0;
  }
  .contacts-button button{
    margin: 3% 1%;
    padding: 1% 4%;
  }
  .service-frame{
    font-size: 13px;
  } 
  .service-frame img{
    width: 40px;
  }
  .subject input{
    width: 100%;
    padding: 1%;
    height: 25px;
  }
  .message input{
    height: 25px;
    width: 100%;
    padding: 1%;
  }
  .title-nav p{
    width: 300px;
    line-height: 50px;
    text-align: center;
  }
  .title-nav{
    margin: 20%;
  }
  .services-library{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container{
    grid-template-columns: 1fr;
  }
  .services-title p{
   width: 300px;
   text-align: center;
  }
  .services-title{
   font-size: 10px;
  }
  .header-nav-styles ul{
   margin: 1% 0;
  }
  .works-title p{
   width: 300px;
   text-align: center;
  }
  .works-title{
   font-size: 10px;
  }
  .tags button{
   font-size: 10px;
   padding: 1% 3%;
  }
  .header-nav-styles{
   display: none;
  }

 .title-nav h3 span{
  font-size: 15px;
 }
 .title-nav p{
  font-size: 12px;
   text-align: center;
 }
 .title-nav button{
  padding: 5px 15px;
 }

.hamburger-flex h1{
  font-size: 18px;
}
.footer-title{
  font-size: 10px;
}
.support-icons div img{
  width: 18px;
}
.support-icons{
  width: 120px;
}
.about-images{
  grid-template-columns: 2fr;
 }
 }




 
 @media only screen and (max-width: 310px) and (min-width: 200px) {
  .contacts-container{
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
   }
   .contacts-container-first{
    font-size: 12px;
   }
   .phone img{
    width: 20px;
   }
   .gmail img{
    width: 20px;
   }
   .gmail{
    width: 170px;
   }
   .phone{
    width: 150px;
   }
   .location{
    width: 140px;
   }
   .location img{
    width: 20px;
   }
  .contact-inputs input{
    width: 100%;
    height: 25px;
  }
  .contacts{
    font-size: 10px;
  }
  .container-second{
    width: 100%;
    margin: 2% 0;
    height: auto;

  }
  .container-first{
    height: 20%;
    width: 100%;
    margin: 2% 0;
 }
  .contacts-button button{
    margin: 3% 1%;
    padding: 1% 4%;
 }
 .service-frame{
  font-size: 13px;
 } 
 .service-frame img{
  width: 40px;
 }
  .subject input{
    width: 100%;
    padding: 1%;
    height: 25px;
 }
  .message input{
    height: 25px;
    width: 100%;
    padding: 1%;
 }
 .title-nav p{
    width: 100%;
    line-height: 50px;
    text-align: center;
    line-height: 30px;
 }
 .title-nav{
  margin: 20%;
 }
 
 .services-library{
  display: grid;
  grid-template-columns: 1fr;
}
.container{
  grid-template-columns: 1fr;
}

 .services-title p{
  width: 70%;
  text-align: center;
 }
 .services-title{
  font-size: 10px;
 }
 .header-nav-styles ul{
  margin: 1% 0;
 }
 .works-title p{
  width: 70%;
  text-align: center;
 }
 .works-title{
  font-size: 10px;
 }
 .tags button{
  font-size: 10px;
  padding: 1% 3%;
 }
 .header-nav-styles{
  display: none;
 }
 .navbar-fixed {
  display: none;
 }
 .title-nav h3 span{
  font-size: 15px;
 }
 .title-nav p{
  font-size: 12px;
   text-align: center;
 }
 .title-nav button{
  padding: 5px 15px;
  margin: 10%;
 }

.hamburger-flex h1{
  font-size: 18px;
}
.footer-title{
  display: none;
}
.support-icons div img{
  width: 18px;
}
.support-icons{
  width: 120px; 
}
.about-images{
  grid-template-columns: 2fr;
 }
 }


 @media only screen and (min-width: 1300px) {
 .hamburger-flex{
   display: none;
 }
 }